@CHARSET "UTF-8";
table .leftRow {
	text-align: right;
	width: 20%;
}
table .tabTitle{
	text-align: center;
}
table .submitTd {
	text-align: center;
}

table td textarea {
	width: 400px;
	resize: none;
}

table td input {
	width: 400px;
}

table .submitTd input {
	width: 200px;
}