@CHARSET "UTF-8";

#addUser {
	height: 35px;
	padding-top: 10px;
	padding-right: 5px;
}

#addUser a {
	width: 195px;
	float: right;
	font-family: '微软雅黑';
}

.paging {
	text-align: right;
	line-height: 20px;
	height: 40px;
	font-size: 16px;
}